:root{
    --clr1 : #EDDDD4;
    --clr2 : #45543E;
    --clr3 : #C44536;
    --clr4 : #772E25;
    --font1 : 'Lato';
    --font2 : 'Playfair Display';

}

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--clr2);
}

nav{
    padding: 21px 36px;
    background: rgba(69, 84, 62, 0.21);
    position: fixed;
    z-index: 10;
}

nav .nav a{
    color: var(--clr1);
    font-family: var(--font2);
    font-size: 52px;
    text-decoration: none;
}

nav .nav li{
    list-style: none;
}

nav .logo{
    text-align: center;
    font-family: var(--font1);
    color: var(--clr1);
    font-size: 26px;
    line-height: 28px;
}

.logoTitle{
    font-family: var(--font2);
    color: var(--clr1);
    font-size: 42px;
    text-transform: uppercase;
}

nav, .nav{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 80px;
}

.nav.second{
    justify-content: unset;
    gap: 80px;
    width: auto;
}

.cart{
    background: transparent url('img/Icon awesome-shopping-cart.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.hero{
    left: 0px;
    width: 50vw;
    height: 100vh;
    background: transparent url(../assets/mcgill-library-xYRM6tusURI-unsplash.jpg) right center no-repeat;
    background-size: 1000px 1275px;
    background-position: left;
    background-attachment: fixed;
}

.heroContainer>img{
    width: calc(187px / 2);
    height: calc(263px / 2);
    position: absolute;
    top: 768px;
    left: 1413px;
}

.landing{
    background: var(--clr1);
    border-radius: 30px;
    width: 950px;
    height: 502px;
    position: absolute;
    left: 759px;
    top: 211px;
    padding: 63px 118px;
}

.landing p{
    color: var(--clr2);
    font-family: var(--font1);
    font-size: 47px;
    text-align: center;
    text-wrap: balance;
    line-height: 60px;
}

.accent{
    font-family: var(--font2);
    font-size: 94px;
}

.transition{
    background: transparent linear-gradient(180deg, #45543E 0%, #772E25 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    height: 145px;
}

.transition h1{
    font-family: var(--font2);
    color: var(--clr1);
    font-weight: 400;
    font-size: 52px;
    text-align: center;
}

hr{
    border: 3px solid var(--clr1);
    border-radius: 50vw;
    width: 229px;
    position: absolute;
    top: 1080px;
    left: 285px;
}

hr.long{
    top: 1069px;
    width: 440px;
    left: calc(285px - 110px);
}

hr.right{
    left: 1600px;
}

hr.right.long{
    left: calc(1600px - 110px);
}

.container.red{
    height: calc(140vh - 145px);
    width: 100%;
    background-color: var(--clr4);
    padding: 107px 193px 15vh;    
}

.container.red .wrapper{
    height: 100%;
    display: flex;
    gap: 187px;
    justify-content: space-between;
}

.wrapper div{
    height: 100%;
}

.text{
    color: var(--clr1);
    font-size: 48px;
    font-family: var(--font1);
    width: 615px!important;
}

.sectionTitle{
    font-size: 52px!important;
    font-family: var(--font2);
}

.imgContainer{
    width: auto;
}

.imgContainer img{
    width: 575px;
    height: 862px;
    float: right;
}

.imgContainer img.small{
    width: 363px;
    height: 545px;
    position: absolute;
    right: 613px;
    top: 1478px;
}

.container.beige{
    background: var(--clr1);
    height: 130vh;
    position: relative;
    display: flex;
}

div.background{
    width: calc(1347.660px / 2);
    height: 100%;
    position: absolute;
    opacity: .54;
}

div.background.behind1{
    right: calc(1347.660px / 2);
    background: url(../assets/axi-aimee-tgigiWtLgio-unsplash.jpg);
    background-position: center center;
    background-size: cover;

}

div.background.behind2{
    right: 0;
    background: url(../assets/soroush-alavi-PVvoEQH6cOI-unsplash.jpg);
    background-size: cover;
    background-position: center center;

}

.triangle{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: url(../assets/peyman-farmani-FktzAo4XHEs-unsplash.jpg);
    height: 100%;
    aspect-ratio: 1;
    background-position: -16px -6px;
    background-size: 1377px;
    z-index: 1;
    position: absolute;
    right: 0;
}

.textWrapper{
    width: 100%;
    position: relative;
}

.text90{
    rotate: -90deg;
    color: var(--clr4);
    text-transform: uppercase;
    font-size: 107px;
    font-weight: 600;
    position: absolute;
    bottom: 622px;
    left: -593px;
}

.collection p{
    color: var(--clr4);
    font-family: var(--font1);
    font-size: 47px;
    position: absolute;
    text-align: center;
    left: 675px;
    top: 324px;
}

.collection p:nth-last-of-type(1){
    top: 800px;
    left: 650px;
}

.collection hr{
    border: solid 3px var(--clr4);
    rotate: 90deg;
    width: 406px;
    position: absolute;
    left: 505px;
    top: 586px;
}

.bulles{
    height: 100%;
    width: 768px;
    overflow: hidden;
    position: relative;
}

.bulle{
    border: solid 3px var(--clr4);
    border-radius: 50vw;
    width: 100px;
    aspect-ratio: 1;
    position: absolute;
}

.b1{
    width: 137px;
    top: -45px;
    left: 663px;
}

.b2{
    width: 150px;
    top: 187px;
    left: 587px;
}

.b3{
    width: 109px;
    left: 704px;
    top: 220px;
}

.b4{
    width: 498px;
    left: -430px;
    top: 221px;
}

.b5{
    width: 324px;
    bottom: -210px;
    left: 490px;
}